{% import "_includes/forms" as forms %}
{% set meta = meta is defined ? meta : false %}

{{ forms.selectField({
    label: "Match Type"|t('vredirect'),
    instructions: "Redirect Type"|t('vredirect'),
    name: 'type',
    first: true,
    options: typeOptions,
    value: redirect.type,
    errors: redirect.getErrors('type')
}) }}

{{ forms.textField({
    label: "Source URI"|t('vredirect'),
    instructions: "The URI to be redirected - should not include the site URL, only the path."|t('vredirect'),
    class: 'ltr',
    name: 'sourceUrl',
    value: redirect.sourceUrl ?? catchAllRecord.uri ?? '',
    errors: redirect.getErrors('sourceUrl'),
    required: true
}) }}

{{ forms.textField({
    label: "Destination URL"|t('vredirect'),
    instructions: "The final URL"|t('vredirect'),
    class: 'ltr',
    name: 'destinationUrl',
    value: redirect.destinationUrl,
    errors: redirect.getErrors('destinationUrl'),
    required: true
}) }}

{{ forms.selectField({
    label: "Redirect Type"|t('vredirect'),
    instructions: "Redirect status code"|t('vredirect'),
    name: 'statusCode',
    options: statusCodeOptions,
    value: redirect.statusCode,
    errors: redirect.getErrors('statusCode')
}) }}