{% extends 'vredirect/_layouts/cp' %}
{% set selectedSubnavItem = 'ignored' %}
{% set title = "Ignored 404 URIs"|t('vredirect') %}

{% do view.registerAssetBundle('craft\\web\\assets\\admintable\\AdminTableAsset') -%}
{% do view.registerAssetBundle('venveo\\redirect\\assetbundles\\admintablesiteswitcher\\AdminTableSiteSwitcher') -%}

{% block contextMenu %}
    <div id="redirect-site-menu">
    {% set siteIds = craft.app.sites.getEditableSiteIds() %}
    {% if siteIds|length > 1 %}
    {% include '_elements/sitemenu' %}
    {% endif %}
    </div>
{% endblock %}

{% set content %}
    <div id="ignored-vue-admin-table"></div>
{% endset %}

{% css %}
.vredirect_catch-all--truncate {
    max-width: 300px;
    margin: 0;
    overflow: hidden;
    position: relative;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.vuetable-body tr:hover .vredirect_catch-all--truncate {
    -webkit-line-clamp: initial;
}
{% endcss %}

{% js %}
var columns = [
    {
        name: 'uri', title: Craft.t('vredirect', 'URI'), sortField: 'uri',
        callback: function(value) {
            return '<div class="vredirect_catch-all--truncate">'+value+'</div>';
        }
    },
    {
        name: 'hitCount', title: Craft.t('vredirect', 'Hit Count'), sortField: 'hitCount'
    },
    {
        name: 'referrer', title: Craft.t('vredirect', 'Last Referrer'), sortField: 'referrer',
        callback: function(value) {
            return '<div class="vredirect_catch-all--truncate">'+value+'</div>';
        }
    },
    {
        name: 'dateCreated', title: Craft.t('vredirect', 'First Hit'), sortField: 'dateCreated'
    },
    {
        name: 'dateUpdated', title: Craft.t('vredirect', 'Last Hit'), sortField: 'dateUpdated'
    },
    {
        name: 'menu', callback: function (value) {
            if (value) {
                return '<a class="btn primary small" target="_blank" href="' + value.createUrl + '">'+Craft.t('vredirect', 'Redirect')+'</a>';
            }

            return '';
        }
    }
];

var actions = [
    {
        label: Craft.t('app', 'Change'),
        actions: [
            {
                label: Craft.t('vredirect', 'Unignore'),
                action: 'vredirect/catch-all/unignore',
                ajax: true
            },
            {
                label: Craft.t('app', 'Delete'),
                action: 'vredirect/catch-all/delete',
                ajax: true
            }
        ]
    }
];


window.adminTableVm = new Craft.VueAdminTable().init({
    deleteAction: Craft.getActionUrl('vredirect/catch-all/delete-one'),
    columns: columns,
    actions: actions,
    checkboxes: true,
    container: '#ignored-vue-admin-table',
    emptyMessage: Craft.t('vredirect', 'No ignored 404s'),
    padded: false,
    search: true,
    searchPlaceholder: Craft.t('vredirect', 'Search for ignored 404s'),
    tableDataEndpoint: Craft.getActionUrl('vredirect/catch-all/hits-table?siteId='+ Craft.siteId + '&ignored=true')
});

new Craft.AdminTableSiteSwitcher('#redirect-site-menu', adminTableVm, Craft.siteId);
{% endjs %}