{% extends 'vredirect/_layouts/cp' %}
{% set selectedSubnavItem = 'catch-all' %}
{% set title = "Registered 404 entries"|t('vredirect') %}

{% do view.registerAssetBundle('craft\\web\\assets\\admintable\\AdminTableAsset') -%}

{% block contextMenu %}
    {% set siteIds = craft.app.sites.getEditableSiteIds() %}
    {% if siteIds|length > 1 %}
    {% include '_elements/sitemenu' with {
        urlFormat: cpUrl('redirect/catch-all/{id}'),
    } only %}
    {% endif %}
{% endblock %}

{% set content %}
    <div id="hits-vue-admin-table"></div>
{% endset %}

{% js %}
var columns = [
    {
        name: '__slot:title', title: Craft.t('vredirect', 'URI'), sortField: 'uri'
    },
    {
        name: 'hitCount', title: Craft.t('vredirect', 'Hit Count'), sortField: 'hitCount'
    },
    {
        name: 'referrer', title: Craft.t('vredirect', 'Last Referrer'), sortField: 'referrer'
    },
    {
        name: 'dateCreated', title: Craft.t('vredirect', 'First Hit'), sortField: 'dateCreated'
    },
    {
        name: 'dateUpdated', title: Craft.t('vredirect', 'Last Hit'), sortField: 'dateUpdated'
    },
    {
        name: 'menu', callback: function (value) {
            if (value) {
                return '<a class="btn primary small" target="_blank" href="' + value.createUrl + '">'+Craft.t('vredirect', 'Redirect')+'</a>';
            }

            return '';
        }
    }
];

var actions = [
    {
        label: Craft.t('app', 'Change'),
        actions: [
            {
                label: Craft.t('vredirect', 'Ignore'),
                action: 'vredirect/catch-all/ignore',
                ajax: true
            },
            {
                label: Craft.t('app', 'Delete'),
                action: 'vredirect/catch-all/delete',
                ajax: true
            }
        ]
    }
];


new Craft.VueAdminTable({
    deleteAction: Craft.getActionUrl('vredirect/catch-all/delete-one'),
    columns: columns,
    actions: actions,
    checkboxes: true,
    container: '#hits-vue-admin-table',
    emptyMessage: Craft.t('vredirect', 'No 404s Registered'),
    padded: false,
    search: true,
    searchPlaceholder: Craft.t('vredirect', 'Search for 404s'),
    tableDataEndpoint: Craft.getActionUrl('vredirect/catch-all/hits-table?siteId='+ Craft.siteId)
});
{% endjs %}